/**

	@project	Tyme Framework
	@author		Tyler Bailey
	@file		style.css
	
	@desc		This is the default styles of the Tyme Framework

**/


/*******************
	RESET
********************/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section, details, summary {display: block;}

img,
object,
embed {max-width: 100%;}

html {overflow-y: scroll;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

pre, code, kbd, samp {font-family: monospace, sans-serif;}

.clickable,
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}

button, input, select, textarea {margin: 0;}

button {width: auto; overflow: visible;}
 
.ie7 img {-ms-interpolation-mode: bicubic;}

.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  


/*******************
	GLOBAL
********************/
body {
	font-family: Verdana, sans-serif;
	background: #FFF;
	color: #333;
}

	header {
		width: 100%;
		height: 75px;
		background-color: #333;
		color: #FFF;
		border-bottom: 1px solid #333;

		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 5px #888;
	}
		
		.logo {
			display: inline-block;
		}
		
		.top-nav {
			float: right;
			margin-top: 25px;
		}

		nav#header-nav > ul li{
			list-style-type: none;
			display: inline;
			margin: 0 8px;
		}
			nav#header-nav a {
				color: #FFF;
				text-decoration: none;
			}
				nav#header-nav a:hover {
					text-decoration: underline;
				}
		
		
	footer {
		width: 100%;
		border-top: 1px solid #333;
		margin-top: 15px;
		padding-top: 10px;
		text-align: center;
	}

	.container {
		width: 75%;
		margin: 0 auto;
		display: block;
		overflow: auto;
	}
	
	/* Typography */
	h1 { 
		font-size: 2em;
		margin: 1em 0;
	}
	h2 {
		font-size: 1.7em;
		margin: .7em 0;
	}
	h3 {
		font-size: 1.5em;
		margin: .5em 0;		
	}
	h4 {
		font-size: 1.3em;
		margin: .3em 0;	
	}
	h5 {
		font-size: 1em;
	}
	h6 {
		font-size: .8em;
		line-height: 0;
	}
	
	p {
		margin: 1em 0;
	}
	
	pre {
		border: 1px solid #3366CC;
		background-color: #E5ECF9;
		padding: 0.5em;
		font-family: Courier New, monospace;
	}
	code {
		white-space: nowrap;
	}
	p, li, pre {
		line-height: 1.5em;
	}
	
	.title {
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 15px;
	}
	
		/* Errors */
		.error { 
			font-weight: bold;
			color: red;
		}
		.db-error, .db-error pre  {
			font: 12px Arial, Helvetica, sans-serif; 
		}
		.db-error {
			padding: 0.75em;
			margin: 0.75em;
			border: 1px solid #990000;
			max-width: 400px;
			color: #990000;
			background-color: #FDF0EB;
			-moz-border-radius: 0.5em;
			-webkit-border-radius: 0.5em;
		}
		.db-error h3 {
			margin: 0;
			padding-bottom: 0.25em;
			border-bottom: 1px solid #990000;
		}
		.db-error label {
			display: block;
			padding-top: 1em;
			font-weight: bold;
		}
		.db-error pre {
			margin: 0;
		}
		
		
	/* Inputs & Forms */
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], 	input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
		background-color: white;
		border: 1px solid #CCC;
		height: 32px;
		width: 300px;
		margin: 10px 0;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		
		-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s,box-shadow linear 0.2s;
		-o-transition: border linear 0.2s,box-shadow linear 0.2s;
		transition: border linear 0.2s,box-shadow linear 0.2s;
	}
	
	textarea {
		height: 150px;
		width: 300px;
	}
	
	input[type="submit"], 
	input[type="reset"] {
		position: relative;
		left: -4px;
		color: #fff;
		margin: 4px;
		width: 92px;
		line-height: 2.25em;
		height: 2.375em;
		padding: 0 1em;
		background: #e95c33;
		border: 1px solid rgba(0,0,0,.1);
		cursor: pointer;
		display: inline;
		
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	
	label {
		width: 150px;
		text-align: right;
		font-weight: bold;
		display: inline-block;
		position: relative;
		top: 15px;
	}
	
	.form-element *{
		vertical-align: top;
	}
	.form-element > input[type='submit'], .form-element > input[type='reset'] {
		position: relative;
		left: 150px;
	}
	
		
/* Documentation */
.doc-nav {
	width: 20%;
	float: left;
	border-right: 1px solid #e8e8e8;
}
	nav#docs > ul li {
		list-style-type: none;
	}

.doc-container {
	width: 75%;
	margin-left: 22%;
}
